<style>
.login{
  min-height: 100vh;
}

section {
  background-image: linear-gradient(to bottom right, #FFEFBA, #FFFFFF);
  height: 100vh;
}

.bg{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 2em;
  margin-top: 40%;
}

label, h3{
  color: black;
}

.btn-login {
  background-image: linear-gradient(to bottom right, #ffa751, #ffe259);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  color: white;
}
.btn-login:hover {
  background-image: linear-gradient(to bottom right, #ffe259, #ffa751);
  color: white;
}

@media (max-width: 768px){
  .bg{
    background-color: rgba(255, 255, 255, 0.7);
  }

    section img{
      display: none;
  }
}

</style>

<section>
  <%= image_tag 'bled.png', style: 'position: absolute; bottom: 0; right: 0;' %>
  
  <div class ="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="bg">
          <center><h3 class="login-heading mb-4">Blog Editor</h3></center>
          <%= form_with(model: @blog, local: true) do |form| %>


            <% if @blog.errors.any? %>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(@blog.errors.count, "error") %> prohibited
                  this blog from being saved:
                </h2>
                <ul>
                  <% @blog.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>


            <div class="form-label-group">
              <label for="inputEmail">Blog title</label>
              <%= form.text_field :title, class: 'form-control'%>
            </div>

            <div class="form-label-group">
              <label for="inputPassword">Blog content</label>
              <%= form.text_area :text, class: 'form-control',  required: true %>
            </div>

            <br>

            <%= form.submit "Update blog", class: 'btn btn-lg btn-block btn-login text-uppercase font-weight-bold mb-2' %>

            <div class="text-center">
            <%= link_to 'BACK', blog_path, class: 'large', style: 'color: black; font-weight: 600; text-decoration: underline' %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>   
















<!-- <h1>Blog Editor</h1>
 
<%= form_with(model: @blog, local: true) do |form| %>
 
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blog.errors.count, "error") %> prohibited
        this blog from being saved:
      </h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>

  <%= link_to 'Back', blog_path %>
 
<% end %> -->
 
