<h1>BLOGS</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.text %></td>
      <td><%= link_to 'Show', blog_path(blog) %></td>
      <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
      <td><%= link_to 'Delete', blog_path(blog),
      method: :delete,
      data: { confirm: 'Are you sure? Once you delete you can no longer retrieve your blog' } %></td>
    </tr>
  <% end %>
</table>