
<style>
.login{
  min-height: 100vh;
}

section {
  background-image: linear-gradient(to bottom right, #FFEFBA, #FFFFFF);
  height: 100vh;
}

.bg{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 2em;
  margin-top: 40%;
}

label, h3{
  color: black;
}

.btn-login {
  background-image: linear-gradient(to bottom right, #ffa751, #ffe259);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  color: white;
}
.btn-login:hover {
  background-image: linear-gradient(to bottom right, #ffe259, #ffa751);
  color: white;
}

@media (max-width: 768px){
    .bg{
        background-color: rgba(255, 255, 255, 0.7);
      }
    
        section img{
          display: none;
      }
}

</style>



<section>

<%= image_tag 'blwr.png', style: 'position: absolute; bottom: 0; right: 0;' %>


  <div class ="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="bg">
          <center><h3 class="login-heading mb-4">New Blog</h3></center>
          <%= form_with scope: :blog, url: blogs_path, local: true do |form| %>


            <div class="form-label-group">
              <label for="inputEmail">Blog title</label>
              <%= form.text_field :title, class: 'form-control'%>
            </div>

            <div class="form-label-group">
              <label for="inputEmail">Blog photo</label><br>
              <%= form.file_field :blog_pics%>
            </div>

            <div class="form-label-group">
              <label for="inputPassword">Blog content</label>
              <%= form.text_area :text, class: 'form-control',  required: true %>
            </div>

            <br>

            <%= form.submit "Save blog", class: 'btn btn-lg btn-block btn-login text-uppercase font-weight-bold mb-2' %>

            <div class="text-center">
            <%= link_to 'BACK', root_path, class: 'large', style: 'color: black; font-weight: 600; text-decoration: underline' %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>  































<!-- <h2>Write a blog</h2>

<%= form_with scope: :blog, url: blogs_path, local: true do |form| %>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :text %><br>
        <%= form.text_area :text %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %> -->