<style>

</style>



<br><br><br><br>

<center>
  <div class="btn-group" role="group">
    <% if @blog.user == current_user %>
      <button type="button" class="btn btn-sm">
        <%= link_to 'WRITE NEW BLOG', new_blog_path, class: 'btn btn-sm btn-primary' %> &nbsp &nbsp
      </button>

      <button type="button" class="btn">
        <%= link_to 'EDIT BLOG', edit_blog_path, class: 'btn btn-sm btn-info' %> &nbsp &nbsp
      </button>

      <button type="button" class="btn">
        <%= link_to 'DELETE BLOG', blog_path, class: 'btn btn-sm btn-danger',
            method: :delete,
            data: { confirm: 'Are you sure? Once you delete you can no longer retrieve your blog' } %>
      </button>
    <% end %>
  </div>
  <hr>
</center>


<section>
  <div class="container">

      <% if @blog.blog_pics.attached? %>
        <%= image_tag @blog.blog_pics, class: 'card-img-top', style: 'width: 100px;' %>
      <% else %>
        <%= image_tag 'welcome.png', class: 'card-img-top', style: 'width: 100px;' %>
      <% end %>

        <h1 style="text-transform: uppercase; margin-top: 1em; font-weight: 600;"><%= @blog.title %></h1>
        <h6 class=" mt-2 text-muted" style="text-align: start;" >
          <%= "- #{@blog.user.username}" %>  
          
          <% if @blog.user.avatar.attached? %>
            <%=  image_tag @blog.user.avatar, style: 'border-radius: 50%; border: 1px solid grey; width: 30px;' %>
          <% else %>
            <%=  image_tag 'profile.png', style: 'border-radius: 50%; width: 30px;' %>
          <% end %>
        </h6>

        <p style="margin-top: 2em; font-size: 1.5rem; text-align: justify; color: #5c5c5b;"><%= @blog.text %></p>

        <center style="margin-top: 10em; margin-bottom: 3em; font-size: 1.2rem;"><%= link_to 'BACK', root_path %></center>

  </div>
</section>







































