<style>
.login{
  min-height: 100vh;
}

body {
  background-image: radial-gradient(farthest-side at 50% 50%, #ffe259, #ffa751 90%);
}

.bg{
  background-color: white;
  border-radius: 10px;
  padding: 2em;
  margin-top: 30%;
  margin-bottom: 10%;
}

.btn-login {
  background-image: linear-gradient(to bottom right, #ffa751, #ffe259);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  color: white;
}
.btn-login:hover {
  background-image: linear-gradient(to bottom right, #ffe259, #ffa751);
  color: white;
}

}
</style>


  <div class ="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="bg">
          <center><h3 class="login-heading mb-4">Account Details</h3></center>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-label-group">
              <label for="inputEmail">Username</label>
              <%= f.text_field :username, class: 'form-control', required: true%>
            </div>

            <br>

            <div class="form-label-group">
              <label for="inputEmail">Email address</label>
              <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", required: true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            </div>

            <br>

            <div class="form-label-group">
              <label for="inputEmail">Profile picture</label><br>
              <%= f.file_field :avatar %>
            </div><br>

            <div class="form-label-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <br>

            <div class="form-label-group">
              <%= f.label :current_password %> <p><i>(we need your current password to confirm your changes)</i></p>
              <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
            </div>

            <br>

            <%= f.submit "Update", class: 'btn btn-lg btn-block btn-login text-uppercase font-weight-bold mb-2' %>
          <% end %>

          <hr>

          <center>
            <h3>Cancel My Account</h3>

            <p>UNHAPPY? <%= button_to "DELETE MY ACCOUNT", registration_path(resource_name), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Back", root_path %>
          </center>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  















<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %> -->
