<style>
.login{
  min-height: 100vh;
}

section {
  background-image: radial-gradient(farthest-side at 50% 50%, #ffe259, #ffa751 90%);
  height: 120vh;
}

img{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px
}

.bg{
  background-color: white;
  border-radius: 50px;
  padding: 2em;
  margin-top: 30%;
}

.btn-login {
  background-image: linear-gradient(to bottom right, #ffa751, #ffe259);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  color: white;
}
.btn-login:hover {
  background-image: linear-gradient(to bottom right, #ffe259, #ffa751);
  color: white;
}

@media (max-width: 768px){
  img{
    display: none;
  }
}
</style>

<%= image_tag 'regi.png' %>

<section>
  <div class ="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="bg">
          <center><h3 class="login-heading mb-4">Sign Up!</h3></center>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-label-group">
              <label for="inputEmail">Username</label>
              <%= f.text_field :username, class: 'form-control', required: true%>
            </div>

            <div class="form-label-group">
              <label for="inputEmail">Email address</label>
              <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", required: true %>
            </div>

            <div class="form-label-group">
              <label for="inputEmail">Profile picture</label><br>
              <%= f.file_field :avatar %>
            </div><br>

            <div class="form-label-group">
              <label for="inputPassword">Password</label>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, class: 'form-control', id: "password", autocomplete: "new-password", required: true %>
            </div>

            <div class="form-label-group">
              <label for="inputPassword">Confirm Password</label>
              <%= f.password_field :password_confirmation, class: 'form-control', id: "confirm_password", autocomplete: "new-password", required: true %>
            </div>

            <br>

            <%= f.submit "Sign up", class: 'btn btn-lg btn-block btn-login text-uppercase font-weight-bold mb-2' %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>  






<script>
  var password = document.getElementById("password")
    , confirm_password = document.getElementById("confirm_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>











<!-- <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, required: true%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
  <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->
