<style>
.login{
  min-height: 100vh;
}

section {
  background-image: radial-gradient(circle, #ffe259, #ffa751);
  height: 100vh;
}

.bg{
  background-color: white;
  border-radius: 50px;
  padding: 2em;
  margin-top: 30%;
}

.btn-forgot {
  background-image: linear-gradient(to bottom right, #ffa751, #ffe259);
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  color: white;
}
.btn-forgot:hover {
  background-image: linear-gradient(to bottom right, #ffe259, #ffa751);
  color: white;
}

</style>

<section>
  <div class ="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="bg">
          <center><h4 class="login-heading mb-4">Forgot your password?</h4></center>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class="form-label-group">
              <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: 'Email address', required: true %>
            </div>

            <br>

            <%= f.submit "Send me reset password instructions", class: 'btn btn-lg btn-block btn-forgot text-uppercase font-weight-bold mb-2' %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>          





























<!-- <h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->