<style>
  .land{
    height: 100vh;
    background-image: linear-gradient(to bottom right, #ffe259, #ffa751);
  }
  .land .box{
    position: absolute;
    left: 10em;
    top: 10em;
    z-index: 200;
  }
  .land img{
    position: absolute;
    bottom: 0;
    right: 0;    
  }

  .card{
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .card-img-top{
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;
  }

  .card-title{
    text-align: start;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  .lincard{
    color: unset;
    text-decoration: unset;
  }
  .lincard:hover{
    color: #5c5c5b;
    text-decoration: unset;
  }



  @media (max-width: 768px){
    .land .box{
      font-size: 0.1em;
      top: 60em;
    }

    .land img{
      width: 700px
    }
  }
</style>

<div class="land">
  <div class="box">
    <h1> Hello! Welcome to</h1>
    <h1>Bloggers</h1>

    <br><br>
    <%= link_to 'Write Blog', new_blog_path, class: "btn btn-md btn-primary" %> &nbsp
    <a href="#sec" class="btn btn-md btn-primary">View Blogs &#8595;</a>
  </div>

  <%= image_tag 'land.png' %>
</div>

<section id="sec" class="container">
  <% @blogs.each do |blog| %>
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <center>
            <div class="card">
            <%= link_to blog_path(blog), class: "lincard" do %>

              <% if blog.blog_pics.attached? %>
                <%= image_tag blog.blog_pics, class: 'card-img-top' %>
                <% else %>
                <%= image_tag 'welcome.png', class: 'card-img-top' %>
              <% end %>

                <hr style="margin: 0;">

                <div class="card-body">
                  <h5 class="card-title"><%= blog.title %></h5>

                  <h6 class="card-subtitle mt-2 text-muted" style="text-align: end;" >
                    <%= "- #{blog.user.username}" %>

                    <% if blog.user.avatar.attached? %>
                      <%=  image_tag blog.user.avatar, style: 'border-radius: 50%; border: 1px solid grey; width: 30px;' %>
                    <% else %>
                      <%=  image_tag 'profile.png', style: 'border-radius: 50%; width: 30px;' %>
                    <% end %>
                  </h6>
                </div>
              <% end %>
            </div>
          </center>
        </div>
      <div class="col-md-3"></div>
    </div>
  <% end %>
</section>



























