<style>
.login{
  min-height: 100vh;
}

section {
  background-image: linear-gradient(to bottom right, #ffe259, #ffa751);
  height: 100vh;
}

.bg{
  background-color: white;
  border-radius: 50px;
  padding: 2em;
  margin-top: 40%;
}

.btn-login {
  background-image: linear-gradient(to bottom right, #ffa751, #ffe259);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  color: white;
}
.btn-login:hover {
  background-image: linear-gradient(to bottom right, #ffe259, #ffa751);
  color: white;
}

</style>

<section>
  <div class ="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="bg">
          <center><h3 class="login-heading mb-4">Welcome back!</h3></center>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-label-group">
              <label for="inputEmail">Email address</label>
              <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", required: true %>
            </div>

            <div class="form-label-group">
              <label for="inputPassword">Password</label>
              <%= f.password_field :password, class: 'form-control', autocomplete: "current-password",  required: true %>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me, class: 'custom-control-input' %>
                <%= f.label :remember_me, class: 'custom-control-label' %>
              <% end %>
            </div>
            <%= f.submit "Sign in", class: 'btn btn-lg btn-block btn-login text-uppercase font-weight-bold mb-2' %>
            <div class="text-center">
              <%= link_to 'Forgot password?', new_password_path(resource_name), class: 'small' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>          























<!-- <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->