<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" style="margin-top: 60px; margin-bottom: 0; z-index: 1000;">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <li>
          <% if value.class == Hash %>
            <% value.each do |k, v| %>
              <%= k %>
              <%= v %>
            <% end %>
          <% else %>
            <%= value %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>