<!DOCTYPE html>
<html>
  <head>
    <title>bloggers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
   

    <style>
      html{
        overflow-x: hidden;
        height: 100%;
        scroll-behavior: smooth;
      }
      body{
        overflow-x: hidden
        height: 100%;
        font-family: "Poppins", Arial, sans-serif;
      }

      .s1, .s2{
          display: none;
      }

      @media (max-width: 768px){
        .s1, .s2{
          display: block;
        }

        .s3, .s4{
          display: none;
        }
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" style="font-weight: 700;">BLOGGERS</a>
    <% if !current_user %>
      <%= link_to "Sign Up", new_user_registration_path, class: 's1 btn btn-sm btn-info navbar-item' %> &nbsp
      <%= link_to "Sign In", user_session_path, class: 's2 btn btn-sm btn-info navbar-item'  %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Write Blog', new_blog_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <% if current_user %>
            <%= link_to 'Account Settings', edit_user_registration_path, class: "nav-link" %>
          <% end %>
        </li>
      </ul>
      <span class="navbar-text">
        <% if current_user %>
          <%= "Logged in as #{current_user.username} " %>
          <% if current_user.avatar.attached? %>
            <%=  image_tag current_user.avatar, style: 'border-radius: 50%; border: 1px solid grey; width: 40px;' %>
          <% else %>
            <%=  image_tag 'profile.png', style: 'border-radius: 50%; width: 40px;' %>
          <% end %> 
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-warning', style: 'color: white;' %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: 's3 btn btn-sm btn-info navbar-item' %> &nbsp
          <%= link_to "Sign In", user_session_path, class: 's4 btn btn-sm btn-info navbar-item'  %>
        <% end %>
      </span>
    </div>
  </nav>




  <!-- <div style="position: absolute; top: 5%;">
    <p class="notice" ><%= notice %></p> 
    <p class="alert"><%= alert %></p> 
  </div> -->


  <%= render 'layouts/messages' %>



    <%= yield %>




  </body>
</html>
